doctype html
html
  head
    title Tareas
  body
   form(action="/user" method="POST")
    input(type="email", name="email")
    input(type="password", name="password")
    input(type="text", name="firstName")
    input(type="text", name="lastName")
    input(type="text", name="role")
    input(type="number", name="phone")
    input(type="submit", value="Crear Cuenta")
